- content_for :page_title do
  = site_hostname

.content
  .box-widget
    .rich-formatting
      %h2 Supporting mstdn.social

      %p We do not serve ads, track users, or sell your data. Instead, we rely on contributions from our users to maintain this fun, safe, and free platform. Every little bit helps a lot!

      %h2 Become a Patron
      %p
        = link_to 'Become a Patron', 'https://patreon.com/mstdn'

      %h2 Other donation methodes

      %p We also accept donations like Bitcoin, Stellar, Ko-Fi and LiberaPay!

      %p
        = link_to 'Stellar', 'https://keybase.io/mstdn'

      %p
        = link_to 'Ko-Fi', 'https://ko-fi.com/mstdn'

        %p
          = link_to 'PayPal', 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2P7PWWUCGYZ6J&source=url'

      %p
        = link_to 'OpenCollective', 'https://opencollective.com/mstdn'

      %p
        = link_to 'LiberaPay', 'https://liberapay.com/mstdn/'

      %p Bitcoin:
      %p 1EYBpxUaKNoSxJSmDJCie3uYTQ6jQcMJvH


      %h2 Server and storage costs

      %p Our community is growing fast, and we’re always expanding our server capacity to keep up with increased demands. How much does this cost, you may ask?
      %br Currently, our total operating costs are just over €275. The main server costs €150 a month. Our Wasabi(.com) media storage costs €5 per 1TB per month for a minimum of 6 months.
