- content_for :page_title do
  = site_hostname

.content
  .box-widget
    .rich-formatting
      %h1 Our team members.

      %p Our community currently has 1 administrator and 3 moderators. You can contact anyone of these people for questions and support.
      %br

      %h3 Server administrators

      %p
        = link_to '@stux', 'https://mstdn.social/@stux'

      %h3 Server moderators

      %p
        = link_to '@null0x0c', 'https://mstdn.social/@null0x0c'

      %p
        = link_to '@calculsoberic', 'https://mstdn.social/@calculsoberic'

      %p
        = link_to '@i3x', 'https://mstdn.social/@i3x'
